extends ../layouts/layout

block content
  .container
  h2 Importar SIP
  form.form.upload-form(method="post", action="http://localhost:3001/api/admin/resources", enctype="multipart/form-data", data-ajax, data-redirect="/admin/resources")
    .form-group
      label(for="sip") Escolher ficheiro ZIP
      input.form-control(type="file", id="sip", name="sip")
    .form-group
      button.btn(type="submit") Upload
  p: a.nav-link(href="/admin") Voltar